html{
    font-size:12px;
    height:100%;
}

body {
    margin:0px;
    padding:0px;
    height:100%;
}

* {
    box-sizing:border-box;
}

@media only screen and (max-width:728px){
    body{
    font-size:12px;
    }

    .hover_yellow:hover{
        background-color:transparent !important;
    }

    .brown_color:hover{
        background-color:transparent !important;
    }

}

#main{
    background-color:lightgray;
    height:100%;
}

#header{
    background-color:black;
    color:white;
    text-align:center;
    padding:1rem;
    font-size:1rem;
    height:10%;
}

#heading{
    margin:auto;
}

#display{
    height:17%;
    border:1px solid black;
    margin-top:1%;
    margin-bottom:1%;
    background-color:white;
    overflow:hidden;
    text-align:right;
    font-size:2rem;
    box-sizing:border-box;
}

.operator{
    display:flex;
    flex-direction:row;
    flex-wrap:no-wrap;
    height:14.6%;
}

button{
    display:inline-block;
    width:25%;
    text-align:center;
    font-size:2rem;
}

.hover_yellow:hover{
    background-color:yellow;
}

.lastrow{
    width:50%;
}

.brown_color{
    background-color:brown;
    border:none;
    border-bottom:1px solid black;
}

.brown_color:hover{
    background-color:rgb(165,42,42,0.8)
}
